@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium.ttf"), url("../fonts/Lato-Medium.woff"), url("../fonts/Lato-Medium.woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
    font-family: malina;
    src: url('../fonts/malina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato-Heavy.ttf"), url("../fonts/Lato-Medium.woff"), url("../fonts/Lato-Medium.woff2");
  font-style: normal;
  font-weight: 900;
}
  
/* MaterialDesignIcons.com */
/* MaterialDesignIcons.com */
@font-face {
  font-family: "Material Design Icons";
  src: url("../fonts/materialdesignicons-webfont.eot?v=1.9.32");
  src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=1.9.32") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=1.9.32") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=1.9.32") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=1.9.32") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=1.9.32#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
